<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
    <%- include('../partials/header.ejs') %>

    <body>
        <main>
            <h2>Active Jobs</h2>
        <table class="activetable">
            <tr>
                <th>Active</th>
                <th>Job Name</th>
                <th>Download</th>
                <th>Job Number</th>
                <th>Total Weight</th>
            </tr>
            <% for (job of jobs) { 
                for (dl of job.dl){
                if (dl.active === true) { %> 
                <% let totalWeight=dl.weight.galv + dl.weight.ss + dl.weight.blackIron + dl.weight.pl + dl.weight.alum %> 
            <tr>
              <td><%= dl.active ? "Active" : "Not Active" %></td>
              <td><a href="/jobs/<%= job._id %> "><%=  job.name %> </a></td>
              <td><%=  dl.dlName %> </td>
              <td><%= job.number %> </td>
              <td><%= totalWeight %> </td>
            </tr>
            <% } %>
            <% } %> 
            <% } %>
        </table>
    </main>
    </body>