<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
    <%- include('../partials/header.ejs') %>

    <body>
        <h1 class="second"><%= job.name %> </h1>
        <table>
            <tr>
                <th>Active</th>
                <th>Download</th>
                <th>Job Number</th>
                <th>Date Turned In</th>
                <th>Date Due</th>
            </tr>
            
                <% let totalWeight=job.dl.weight.galv + job.dl.weight.ss + job.dl.weight.blackIron + job.dl.weight.pl + job.dl.weight.alum %> 
            <tr>
              <td><%= job.dl.active ? "Active" : "Not Active" %></td>
              <td><%=  job.dl.name %> </td>
              <td><%= job.number %> </td>
              <td><%= job.dl.dateTurnedIn %> </td>
              <td><%= job.dl.dateDue %> </td>
            </tr>
        </table>

        <table class="tabletwo">
            <h3>Weight</h3>
            <tr>
                <th>Galvinized</th>
                <th>Stainless</th>
                <th>Black Iron</th>
                <th>Paint Lock</th>
                <th>Aluminum</th>
            </tr>
            
            <tr>
              <td><%= job.dl.weight.galv %> lbs</td>
              <td><%=  job.dl.weight.ss %> lbs</td>
              <td><%= job.dl.weight.blackIron %> lbs </td>
              <td><%= job.dl.weight.pl %> lbs </td>
              <td><%= job.dl.weight.alum %> lbs</td>
            </tr>
        </table>

    </body>